---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 2025')}
	heroImage="/DSC03522.JPG"
>
	<p>
I'm creating this blog to share the fascinating world of maps, spatial data, and geospatial analysis. It’s a space where I document interesting GIS projects, explore tools like QGIS, and reflect on how mapping helps us better understand our environment and the patterns within it.
	</p>


</Layout>
