---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description="Home" />
		<style>
			main {
				display: flex;
				align-items: center;
				justify-content: center;
				height: calc(100vh - 80px); /* presque plein écran */
				margin: 0;
				padding: 0;
			}

			.hero-image {
				width: 100vw;
				height: 100%;
				object-fit: contain; /* garde l’image entière */
			}

			@media (max-width: 720px) {
				main {
					height: calc(100vh - 60px);
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<img
				src="/DdM.png"
				alt="Homepage image"
				class="hero-image"
			/>
		</main>
		<Footer />
	</body>
</html>
